:root {
  --main-bg-color: #f3ffeb;
  --block-bg-color: #fafff0;
  --border-color: #072d00;
  --general-text-color: #001c07;
  --general-font-family: Verdana, serif;
  --menu-hover-text-color: #ffce94;
}