:root {
  --main-bg-color: #fff7f7;
  --block-bg-color: #ffe3e3;
  --border-color: #ffcfcf;
  --general-text-color: #1c0000;
  --general-font-family: Verdana, serif;
  --menu-hover-text-color: #ff4d00;
}